/* Grid for layout body*/

body {
    background-image: url('images/guatemala1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;  /* Three rows grid method: header, body, footer */
}

header {
    min-height: 50px;
    background: lightcyan;
}

footer {
    min-height: 50px;
    /* background: papayawhip; */

    text-align: center;

}


.myself {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: black;

}





/* Styling for the dropdown menu */
.dropdown-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;


    list-style-type: none;  /*No bullet points*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1;

}

.dropdown-menu ul {
    justify-content: space-evenly;
    width: 100%;

    margin: 0;
    padding: 0;
    display: flex;
}


/* Link reeks geheel display */
.dropdown-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/*Individual blocks with content links*/
.dropdown-menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;

    padding: 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Kleur wanneer je over topic navigatiebalk scrollt */
.dropdown-menu li a:hover:not(.active) {
    background-color: cadetblue;    /* moet niet color ipv background color?*/
}

/* Kleur welke pagina huidig zittend */
.dropdown-menu li a.active {
    background-color: cadetblue;
}


.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: black; */
    background-color: papayawhip;
    color: white;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    z-index: 1;
}

